$menu-width: 20px;
$menu-height: 3px;
$dark-color : #121212;
$bright-color : #FFFFFF;

.wrapper-menu {
    width: $menu-width + 10;
    height: 30px;
    background: red;
    cursor: pointer;
}

// Add style to each menu bar
.wrapper-menu__menu,
.wrapper-menu__menu:before,
.wrapper-menu__menu:after {
    width: $menu-width + 10;
    height: $menu-height;
    background-color: $dark-color;
}

.wrapper-menu__menu {
    position: relative;
}

.wrapper-menu__menu:before {
    content: "";
    position: absolute;
    top: 10px;
}

.wrapper-menu__menu:after {
    content: "";
    position: absolute;
    top: 20px;

}